{% load static%}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} music shop {% endblock title %}</title>
    </head>
    <header>
        <div class="nav">
            <h1><a href="{% url 'home' %}">Olus's shop</a></h1>
        </div>
    </header>
    {% if user.is_authenticated %}
        <p>hello {{user.username}}</p>
        <a href="{% url 'logout' %}">Log out</a>
    {% else %}
        <p>your not logged in</p>
        <div>
            <li>
                <a href="{% url 'login' %}">Log in</a>
            	<a href="{% url 'signup' %}">\Sign up</a>
            </li>
        </div>
        
    {% endif %} 
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    </html>